{{!< layout}}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">
            {{title}}
        </h1>
        <p class="lead">
            {{message}}
        </p>
    </div>
</div>
<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <form>
                <div class="form-group">
                    <label for="exampleInputZip">
                        Zip Code
                    </label>
                    <input class="form-control" id="awarenessZipcode" placeholder="Enter zip code" type="number">
                        <small class="form-text text-muted" id="emailHelp">
                            Enter group of five or nine numbers that are added to a postal address.
                        </small>
                    </input>
                </div>
            </form>
        </div>
    </div>

    <div id="awarenessContainer" style="display:none;">
    <div class="row">
	    <div class="col-xs-12">
	        <h2>
	            Leaders
	        </h2>
	    </div>
    </div>
    <div class="row">
        {{#each data.officials}}
	    <div class="col-xs-12 col-sm-6">
        	<img alt="Generic placeholder image" class="align-self-start mr-3 img-responsive" src="{{this.data.image}}" />
            <div class="media-body">
                <h5 class="mt-0">
                	{{this.data.name}}
                </h5>
                <p class="lead">
                    {{this.title}}
                </p>
            </div>
    	</div>
    	<hr />
		{{/each}}
        </div>
        
        <div class="col-xs-12">
            <h2>
                Notices
            </h2>
            <div class="media">
            	<img alt="Generic placeholder image" class="align-self-start mr-3" src="http://placehold.it/100x100" />
                <div class="media-body">
                    <h5 class="mt-0">
                        Person's Name
                    </h5>
                    <p>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </p>
                    <p>
                        Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                </div>
        	</div>
        </div>
        <div class="col-xs-12">
            <h2>
                Problems
            </h2>
            <div class="media">
            	<img alt="Generic placeholder image" class="align-self-start mr-3" src="http://placehold.it/100x100" />
                <div class="media-body">
                    <h5 class="mt-0">
                        Person's Name
                    </h5>
                    <p>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </p>
                    <p>
                        Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                </div>
        	</div>
        </div>
        <div class="col-xs-12">
            <h2>
                Statistics
            </h2>
            <div class="media">
            	<img alt="Generic placeholder image" class="align-self-start mr-3" src="http://placehold.it/100x100" />
                <div class="media-body">
                    <h5 class="mt-0">
                        Person's Name
                    </h5>
                    <p>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </p>
                    <p>
                        Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                </div>
        	</div>
        </div>
    </div>
    </div>
</section>
